/* FOOTER */

.footer {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(-45deg, #040404, #13505B, #0C7489, #119DA4);
    margin-top: 10px;
}

.footer .contato {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    flex-direction: row-reverse;
}

.footer .contato .wts{
    display: flex;
    align-items: center;
}

.footer .contato img {
    height: 26px;
    width: 26px;
}

footer p {
    font-size: 26px;
}

/*responsivo*/

@media screen and (max-width: 708px){
    .footer p{
        text-align: center;
    }
}

@media screen and (max-width: 544px){
    
    .footer p{
        font-size: 18px;
        text-align: center;
        margin: 0;
    }
    
    .footer .contato img {
        height: 25px;
        width: 25px;
    }


}

@media screen and (max-width: 442px) {
    .footer .contato{
        flex-direction: column;
        width: 50%;
    }

    .footer p{
        padding-left: 10px;
        text-align: center;
        margin: 0;
    }
}